[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0.4"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
drf-yasg = "*"
py-solc-x = "*"
tronpy = "*"
tronapi = "*"
django-extensions = "*"
werkzeug = "*"  # for django-extensions runserver_plus
mysqlclient = "*"
celery = "*"
redis = "*"
django-celery-beat = "*"

[dev-packages]

[requires]
python_version = "3.8"
